body {
    background-image: url(https://lh3.googleusercontent.com/qyWTZHgCY6pRKQB_wyikVMjftrsUGe_G7zKxmwbZ08YBGxWdSNewXi7wDPeytBtdnLgp3c5B9nxpEdgp5JqplHP2nZ0tsrMJcQzY9bkc9qGnVwaaYpIBUtAFLGkXb13eD5qhFVBf1kiZS3sO0r7UKQGittgvC-BZSlxlVCsbYH4LTLhf_VAacREQZolkXBQZnpyuqlscuyHxNHz0FlTrNoBslUkzMp2p9BXeFGke3Q4a4vtBWFKWjXik3lMk6jBEm4wq8EAFSf2oPpnJ-xAOXCdMcNYJhr6NkWpGrQG-BWFM1QLMAtuYvjiO83lZ5kSyX2Q_-2vv31Tpsv61oQ2Uft8C5mRn43iPIJ3szcgrTNihqnI2a2Cv6oO5HeefXSP5iHhZ0-rks200OIUMjc9Uhhsr4RpWztPbJCXXLhet_mFdilUISlRjn3RDYz2z1g10OivH6Ndk3V0ru4Lb5O5k155JYIq-6io8j4InbYAfxZUdEE08HSrxncndFABp2Aw3atnMMyTEuKyQ9CHvfjL2rKpvyD3ROGRLedTXC4VeWKRi2sAvnqwpnDsl8GNREVBN6EMrkbg0dI12JRgqWAxwjFLF45Y71oi_QTUK1s3XNyzbVV9R3DKA5UHcFvbqVF0vBqgVOJWCqBlIWmUtPt7GLlDSJmWb6y0nPBWfK-pjyflInRHMa86bs4Bw11WaSueqlc4Cg6q6WDZj75DtBDveung=w1224-h938-no?authuser=0);
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
}
#header {
    text-align: center;
    max-width: 800px;
    margin: auto;
    background-color: rgba(60, 75, 98, 0.5);
    box-shadow: black 5px 5px;
    padding: 25px;
    margin-bottom: 10px;
}   
#main {
    background-color: rgba(173, 218, 215, 0.5);
    max-width: 800px;
    height: auto;
    padding: 25px;
    box-shadow: black 5px 5px;
    margin: auto;
}
#container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    
}
#box1, #box2, #box3, #box4, #box5, #box6 {
    display: flex;
    flex-direction: row;  
}
#name-label, #email-label, #telephone-label, #number-label, #dropdown-label {
    order: 1;
    width: 30vw;    
}
#name, #email, #telephone-number, #number, #dropdown  {
    order: 2;
    width: 70vw;
}

#container2 {
    display: flex;
    flex-direction: column;
}

.checkboxgroup p {
    margin-bottom: 0px;
}
.checkboxgroup1 p {
    margin-bottom: 0px;
}
.comment {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.submit {
    text-align: center;
}