/* Variables */
:root {
    --header-text-color: rgb(255, 255, 255);
    --header-background-color: rgba(23, 36, 54, 0.5);
    --header-background-hover-color: rgba(23, 36, 54, 0.856);
    --border-color: rgb(0, 0, 0);
    --border-color-hover: rgb(255, 255, 255);
    --main-form-background-color: rgba(173, 218, 215, 0.5);
    --main-form-inset-background-color: rgba(87, 119, 113, 0.787);
    --form-font-weight: 500;
    --form-question-font-size: 24px;
}
/* Root */
* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
}
/* Page Container */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
/* Header */
#header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    min-width: 965px;
    height: 15%;
    min-height: 190px;
    padding: 10px;
    background-color: var(--header-background-color);
    border: var(--border-color) 5px solid;
    color: var(--header-text-color);
    font-weight: var(--form-font-weight);
}
#header h1 {
    font-size: 58px;
}
#header p {
    font-size: var(--form-question-font-size);
}

/* Content */
#main {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    width: 40%;
    min-width: 965px;
    height: 76%;
    min-height: 190px;
    border: var(--border-color) 5px solid;
    background-color: var(--main-form-background-color);
}
/* Main Form */
#survey-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
/* Form Content */
#container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-self: center;
    margin: 10px;
    width: 60%;
}
#container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}
.input-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.input-label {
    width: 30vw;
}
.input {
    width: 70vw;
}
.radio-input-container,
.checkbox-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.input-radio-label {
    font-weight: var(--form-font-weight);
}
.input-checkbox-label {
    font-weight: var(--form-font-weight);
}
.checkboxgroup,
#text-area {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    width: 95%;
    height: 100%;
    background-color: var(--main-form-inset-background-color);
    border: white 3px solid;
    border-radius: 10px;
    color: white;
}
#textarea {
    width: 100%;
    border-radius: 10px;
}
#comment {
    padding-bottom: 10px;
    font-weight: var(--form-font-weight);
    font-size: var(--form-question-font-size);
}
.survery-question {
    font-size: var(--form-question-font-size);
    font-weight: var(--form-font-weight);
}
#submit-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    width: 100%;
    height: 100%;
}
/* Button Styling */

#submit {
    width: 50%;
    min-width: 400px;
    height: 75%;
    min-height: 45px;
    padding: 5px;
    border: var(--border-color) 3px solid;
    color: var(--header-text-color);
    font-size: var(--form-question-font-size);
    font-weight: var(--form-font-weight);
    background-color: var(--header-background-color);
    border-radius: 10px;
}
#submit:hover {
    border: var(--border-color-hover) solid 3px;
    background-color: var(--header-background-hover-color);
}
#submit:active {
    border: var(--main-form-background-color) solid 3px;
}
